<span class="cart_count">
    <%= form_tag carts_update_path, method: :post, remote: true do %>
      <%= hidden_field_tag :id, cart %>
      <%= select_tag :count, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), class: "cart_drop_count" %>
    <% end %>
</span>
