<div class="center jumbotron">
    <h1>Welcome</h1>
<!--商品一覧ページのリンク（itemのindex）-->
    <%= link_to "商品一覧", items_path, class: "btn btn-lg btn-primary" %>

<!--商品新規追加ページのリンク（itemのnew）-->
    <%= link_to "商品新規追加", items_new_path, class: "btn btn-lg btn-primary" %>
</div>