<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contacts_new_path %></li>
      <li><%= link_to "News", items_path %></li>
    </ul>
  </nav>
</footer>